{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>ユーザー登録</title>
    <link rel="stylesheet" href="{% static 'inquiries/css/style.css' %}">
</head>
<body>
    <h1>ユーザー登録</h1>
    
    <div class="form-container">
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">登録</button>
        </form>
    </div>

    <div class="home-button">
        <a class="btn btn-home" href="{% url 'home' %}">ホームへ戻る</a>
    </div>
</body>
</html>
